#board{width: 500px } /* force full no-line-breaks display on Opera Mini */

#board input{border:3px double grey; text-align:center; color:black}
#board input.enab{text-transform:uppercase}

#board input{display:block; float:left; margin:1px; width:30px; height:30px}
#board br{clear:both}

#board input{font-weight:bold; font-size:20px}
#board input.disab{font-weight:normal; font-size:15px}

#board input.enab:focus{background:yellow; color:black}


#board .nn{background:white}
#board .dw{background:salmon}
#board .tw{background:red}
#board .dl{background:lightblue}
#board .tl{background:blue; color:white}


.player, .you{width:200px; float:left; margin:10px; padding:5px; border:1px solid black}
.player p, .you p{margin:0}
.player{border-color:navy; background:#ddf}
.you{border-color:maroon; background:#fdd}

#joingame, #history{clear:both}



#create{margin-left:1em}