*{font-size:14px}
body, input{font-family:tahoma, arial, verdana, sans-serif}

#langs .curlang{font-weight:bold}

#board{width:540px} /* force full no-line-breaks display on Opera Mini */
.scrabble21 #board{width:730px}

#board input, .rackletter{border:3px double grey; text-align:center; color:black}
#board input.enab{text-transform:uppercase}
#board input.disab{text-transform:none}

#board input, .rackletter, .boardloc{margin:1px; width:30px; height:30px}
#board input, .boardloc{display:block; float:left}
.boardloc{text-align:center; font-size:15px; line-height:30px}

#board br{clear:both}

#board input.enab{font-size:20px}
#board input.disab, .rackletter{font-size:15px}

#board input.enab:focus{background:yellow; color:black; outline:2px solid red; outline-offset:-1px}

#board .nn, .rackletter{background-color:white}
#board .dw{background-color:salmon}
#board .tw{background-color:red}
#board .qw{background-color:maroon}
#board .dl{background-color:lightblue}
#board .tl{background-color:blue; color:white}
#board .ql{background-color:navy; color:white}

#board .t1, #board .t2, #board .t3, #board .t5{background:url('/static/dots.gif') center center no-repeat}
#board .t1{background-color:yellow}
#board .t2{background-color:lightgreen}
#board .t3{background-color:lightblue}
#board .t5{background-color:lightpink}

#board .hilit{outline:4px solid black; outline-offset:-1px}


#rackdropzone{height:30px}
.rackletter{display:block; float:left; cursor:e-resize}

#rack, #controls, #getblank{margin:0; margin-left:1em}

#updateable{clear:both}




#players{}
.player{width:200px; display:inline-block; vertical-align:top; margin:0 10px; padding:5px; border:1px solid black}
.player p{margin:0}
.currentimg{display:block; margin:0 auto; margin-top:-35px; margin-bottom:8px}

.you .playername{font-weight:bold}

.player{border-color:navy; background:#ddf}
.you{border-color:maroon; background:#fdd}
.winner{border-color:oldgold; background:#ffd}


#create .prompt{text-align:right}
#create .value{}

#history{position:absolute; top:10px; left:540px}
.scrabble21 #history{left:730px}
